.adminEditTestmonial {
    border: 2px dashed rgb(255, 193, 7);
    position: fixed;
    margin: 10% auto;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.adminEditTestmonialHeader {
    border-bottom: 1px solid #444;
}