.pageBanner img {
  object-fit: cover;
  object-position: top;
  height: 350px;
}
.titleCaption {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px 100px 40px;
}

.titleCaption .description {
  width: 50%;
}

@media (max-width: 576px) {
  .titleCaption {
    padding: 10px 50px 40px;
  }

  .titleCaption .description {
    width: 100%;
  }
}
